body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    color: #ccc;
    font-weight: 300;
}

figure {
  margin: auto; 
}

img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    opacity: 0.8;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transition: all 0.2s linear;
}


img:hover{
    opacity: 1;
    transform: scale(1.1);
    border-radius: 8px;
    -webkit-filter: none; /* Chrome, Safari, Opera */
    filter: none;
}

.content article{
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center
}


/* Parallax */

.bird-box{
    position: relative;
    height: 600px;
    min-height: 480px;
    background-image: url('../images/bird-bg.jpg');
    background-size: auto 600px;
    background-position: top center;
    background-attachment: fixed;
    overflow: hidden;
}

.logo{
    position: absolute;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    width: 100%;
    background-image: url('../images/beeple.png');
    background-size: auto 100px;
    background-position: center;
    background-repeat: no-repeat;   
}

.fore-bird{
    width: 960px;
    height: 733px;
    background-image: url('../images/fore-bird.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    left: 50%;
    margin-left: -480px; /* half of 960px*/
    top: 380px;
}

.back-bird{
    width: 960px;
    height: 298px;
    background-image: url('../images/back-bird.png');
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 50%;
    margin-left: -480px;
}

/* Model grid */

.clothes-pics figure{
    margin-bottom: 20px;
    position: relative;
    transform: translateX(-20px);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.clothes-pics figure.is-showing{
    opacity: 1;
    transform: translateX(0px);
}


/* large window */
.large-window{
    height: 480px;
    width: 480px;
    margin: 0 auto;
    margin-top: 100px;
    background-image: url('../images/bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 50%;
}


/* footer */
.footer{
    text-align: center;
    background: #222;
    width: 100%;
    color: wheat;
    margin: 0;
}

.footer p{
    padding: 20px 5px;
    margin: 0;
}






